// Remove top navigation email and resume when screen is too small
// Users can still access the email and resume through the footer at the bottom
@media (max-width: 1200px) {
    #email, #resume {
        display: none;
    }
}

// Positioning for the top navigation
.overlay-top {
    position: absolute;
    margin-top: 6rem;
    width: 100%;
    z-index: 999;
}

// Positioning for the bottom overlay element on the splash page
.overlay-bottom {
    position: absolute;
    bottom: 6rem;
    width: 100%;
    z-index: 999;
}

// doesn't work
.blur-gradient {
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 100%);
    position: relative;
    z-index: 998;
}

.project {
    margin: 8rem 0rem;

    // #ncr-project, #oxygen-project, #db-project, #capstone-project {
    //     // visibility: hidden;
    // }
}