// Certain sections are limited to not the full width for better readability
@media (min-width: 1200px) {
    .shrink {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.tags {
    margin-top: 4rem;
}