@media (min-width: 540px) {
    .box-xs {
        width: 15rem;
        margin: 4rem auto;
        color: green;
    }
}

@media (min-width: 768px) {
    .box-sm {
        width: 32rem;
        margin: 8rem auto;
    }
}

@media (min-width: 720px) {
    .box-md {
        width: 36rem;
        margin: 8rem auto;
    }
}

@media (min-width: 992px) {
    .box-lg {
        width: 54rem;
        margin: 8rem, auto;
    }
}

.tags {
    margin-top: 4rem;
}