@media (min-width: 540px) {
    .box-sm {
        width: 16rem;
        // margin-left: auto;
        // margin-right: auto;
        margin: 4rem auto;
    }
}

@media (min-width: 720px) {
    .box-md {
        width: 58rem;
        // margin-left: auto;
        // margin-right: auto;
        margin: 8rem auto;
    }
}

.tags {
    margin-top: 4rem;
}

.quote {
    // text-indent: -1em;
    hanging-punctuation: first;
}