@import "variables";

@import "home";
@import "animation";
@import "spline";
@import "footer";

@import "project";
@import "project-nav";
@import "ncr";
@import "db";

// @mixin variablename {
//    a;lksdjf;alksdf;aksldf
// }

// horizontal-line {
    // @include variablename

body {
    background-color: $black;
    color: $white;
}

h6 {
    font-size: 1.125rem;
    color: $gray-600;
    text-transform: uppercase;
}

.caption {
    font-style: italic;
    color: $gray-600;
}

.body-1 {
    font-size: 1.5rem;
}

.body-2 {
    font-size: 1.125rem;
}

a {
    color: $white;
    text-decoration: none;
    position: relative;
}

// When hovering over a link, an underline animation will occur
.link-hover {
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -3px;
        left: 0;
        height: 2px;
        background-color: $white;
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.3s ease;
    }

    &:hover::before {
        width: 100%;
        transform: scaleX(1);
    }
}

.full-image {
    width: 100%;
}

// @mixin make-container($padding-x: $container-padding-x) {
//     width: 100%;
//     padding-right: $padding-x;
//     padding-left: $padding-x;
//     margin-right: auto;
//     margin-left: auto;
// }

// .container-project {
//     @include make-container();
// }