#nav-cart {
    background-color: yellow;
}

.card {
    margin: auto;
    width: fit-content;
}

.thumbnail {
    width: 200px;
}

.remove {
    font-size: 12px;
    text-align: center;
}

.subheading {
    text-align: center;
}

.end {
    width: 800px;
}

#btn-cart {
    padding: 12px 24px;
    /* font-size: 24px; */
    background-color: yellow;
    border: 2px solid black;
}