/* #nav-cart {
    background-color: yellow;
    font-weight: 600;
} */

.card {
    margin: auto;
    width: fit-content;
}

.thumbnail {
    width: 200px;
}

.remove {
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    text-decoration: underline #bfbfbf;
}

.subheading {
    text-align: center;
}

.end {
    width: 800px;
    margin: auto;
}

#price {
    margin-bottom: 96px;
}

#btn-cart {
    padding: 12px 24px;
    background-color: yellow;
    border: 2px solid black;
}