#nav-product {
    background-color: yellow;
}

.card {
    margin: auto;
    padding: 8px;
    width: fit-content;
}

.card:hover {
    font-weight: 600;
    background-color: yellow;
}

.card-link {
    text-decoration: none;
}

.thumbnail {
    width: 400px;
}

.listing {
    width: 400px;
}

#title {
    text-decoration: underline #bfbfbf;
    margin-bottom: 0px;
}

#price {
    font-weight: 400;
    margin-top: 8px;
}