#nav-product {
    background-color: yellow;
}

#product-img {
    width: 600px;
    border: solid 2px black;
}

.content-width {
    width: 300px;
    margin: auto;
    text-align: left;
}

.content-margin {
    margin: 32px 0px;
    font-size: 18px;
}

.dropdown {
    width: 100%;
    padding: 8px;
    border: 2px solid black;
    font-size: 18px;
    margin-top: 8px;
}

#add-to-cart {
    margin-top: 64px;
    text-align: center;
    font-weight: 600;
}

#btn-cart {
    padding: 8px 24px;
    background-color: yellow;
    border: 2px solid black;
    margin: 0px 16px;
    font-weight: 600;
    font-size: 18px;
}