/* #nav-product {
    background-color: yellow;
    font-weight: 600;
} */

#product-img {
    width: 600px;
}

.content-width {
    width: 300px;
    margin: auto;
    text-align: left;
}

.content-margin {
    margin: 48px 0px;
}

.dropdown {
    width: 100%;
    padding: 8px;
    border: 2px solid black;
    font-size: 24px;
    margin-top: 8px;
}

#add-to-cart {
    margin-top: 64px;
    text-align: center;
}

#btn-cart {
    padding: 8px 24px;
    background-color: yellow;
    border: 2px solid black;
    margin: 0px 16px;
}