body {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    margin: 4px;
}

.logo {
    width: 400px;
}

hr {
    border-top: 4px solid black;
}

.content {
    text-align: center;
    display: block;
}

nav {
    font-size: 18px;
    margin: 16px;
}

#nav-cart {
    margin-bottom: 64px;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
}