/* Styling applied to Gallery page */

.card {
    margin: 0px auto 32px auto;
    padding: 8px;
    width: fit-content;
}

.card:hover {
    font-weight: 600;
    background-color: yellow;
}

.thumbnail {
    width: 400px;
}

.listing {
    width: 400px;
    line-height: 10px;
}

.title {
    text-decoration: underline #bfbfbf;
}

/* Font weight is always regular highlighted or not */
.price {
    font-weight: 400;
    margin-bottom: 10px;
}