/* Overall styling that applies to all 3 pages */

/* Import statement to use Roboto when Helvetica is not available */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: Helvetica, "Roboto", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    border: 2px solid black;
}

#logo {
    width: 400px;
    border: none;
}

hr {
    border-top: 4px solid black;
}

.page-title {
    font-size: 32px;
    font-weight: 400;
}

.subheading {
    font-size: 24px;
    text-align: left;
}

.caption {
    font-weight: 600;
    font-size: 18px;
}

.center {
    text-align: center;
}

nav {
    margin-top: 16px;
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 32px;
}

/* Current active page is highlighted */
.nav-active {
    font-weight: 600;
    background-color: yellow;
}