/* https://www.w3schools.com/cssref/css3_pr_font-face_rule.php */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
@font-face {
    font-family: "FS Industrie";
    src: url(fonts/FSIndustrieRegular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FS Industrie";
    src: url(fonts/FSIndustrieBold.otf) format(opentype);
    font-weight: bold;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: fit-content;
}

.cart-item {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.middle {
    flex-grow: 1;
    min-width: 400px;
    line-height: 8px;
}

.price {
    justify-content: flex-end;
    margin-right: 70px;
    /* background-color: antiquewhite; */
}

.caption {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline solid #616161;
    margin-top: 4px;
    margin-bottom: 16px;
}

.empty {
    width: 200px;
}

button {
    width: fit-content;
    margin-left: auto;
    margin-right: 70px;
    margin-top: 40px;
}