/* https://www.w3schools.com/cssref/css3_pr_font-face_rule.php */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
@font-face {
    font-family: "FS Industrie";
    src: url(fonts/FSIndustrieRegular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FS Industrie";
    src: url(fonts/FSIndustrieBold.otf) format(opentype);
    font-weight: bold;
    font-style: normal;
}

main {
    display: flex;
    width: fit-content;
    margin: 0px 64px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 32px;
    max-width: 400px;
}

.customization {
    font-size: 24px;
    line-height: 32px;
}

/* Adding font family to override the default dropdown styles */
.dropdown {
    font-family: "FS Industrie", Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 24px;
    padding: 8px;
    border: 3px solid black;
    margin-bottom: 24px;
}

#last-child {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.caption {
    font-size: 24px;
    font-weight: bold;
}

#btn-cart {
    margin-left: 16px;
}
